Repository regenara/ufanet_intercom_api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_ufanet_intercom_api, publish_ufanet_intercom_api

build_ufanet_intercom_api:
  stage: build
  script:
  - python3.10 -m build
  artifacts:
    paths:
    - dist/*
    expire_in: 1 hour

publish_ufanet_intercom_api:
  stage: deploy
  environment:
    name: production
  script:
  - cat /home/mstoneho/.pypirc > .pypirc
  - twine upload -r pypi --config-file .pypirc dist/*
  - git fetch origin master
  - git push github origin/master:master
  needs:
  - build_ufanet_intercom_api

update README.md, pyproject.toml version up
  README.md
  pyproject.toml
  ufanet_intercom_api/wrapper.py
Due: build_ufanet_intercom_api, publish_ufanet_intercom_api

update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

hide sensitive data in logs
  pyproject.toml
  ufanet_intercom_api/logger.py
  ufanet_intercom_api/wrapper.py
Due: build_ufanet_intercom_api, publish_ufanet_intercom_api

fix _send_request
  pyproject.toml
  ufanet_intercom_api/wrapper.py
Due: build_ufanet_intercom_api, publish_ufanet_intercom_api

Add Camera class with get_cameras method, with rtsp url
  ufanet_intercom_api/models.py
  ufanet_intercom_api/wrapper.py
Due: build_ufanet_intercom_api

fix import
  ufanet_intercom_api/wrapper.py
Due: build_ufanet_intercom_api

update README.md
  README.md
Due: none

fix README.md
  README.md
Due: none

add computed_field
  ufanet_intercom_api/models.py
  ufanet_intercom_api/wrapper.py
Due: build_ufanet_intercom_api

Fix contract type
  ufanet_intercom_api/models.py
Due: build_ufanet_intercom_api

Remove redundant space
  ufanet_intercom_api/models.py
Due: build_ufanet_intercom_api

add rtsp cameras fixes
  README.md
  pyproject.toml
  ufanet_intercom_api/models.py
  ufanet_intercom_api/wrapper.py
Due: build_ufanet_intercom_api, publish_ufanet_intercom_api

Path conditions:
  build_ufanet_intercom_api: any of: ufanet_intercom_api/**/*
  publish_ufanet_intercom_api: any of: pyproject.toml
